doctype html
html
head
    meta(charset="UTF-8")
    title Bienvenido a camara Live !
body
    p
        a(href="emitir") EMITIR CAMARA WEB !
    p
        a(href="visualizar") VER TRANSMICION !
        